<%= form_for @comment = Comment.new do |f| %>
  <%= render "devise/shared/error_messages", resource: @comment %>

  <%= f.hidden_field :post_id, :value => post.id %>
  <%= f.hidden_field :parent_id, :value => parent.id unless parent.nil? %>

  <div class="input-group mb-2">
    <%= f.text_field :content, class: "comment-box", placeholder: " Write a comment...", class: "form-control" %>
    <%= f.submit 'Submit Comment', class: 'btn btn-secondary btn-sm', id: "button-addon2" %>
  </div>
<% end %>