<div class="col">
  <div class="card text-center text-bg-light" style="max-width: 540px;">
    <div class="row g-0 d-flex align-items-center">
      
      <div class="col-md-4">
        <% if user.image? %>
          <%= image_tag user.image.url(:thumbnail), class: "img-fluid rounded-start" %>
        <% else %>
          <%= gravatar_for(user, {classlist: 'gravatar img-fluid rounded-start'}) %>
        <% end %>
      </div>
      
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= link_to user.full_name, user_path(user), class: 'nav-link' %></h5>
          <%= render 'button', user: %>
        </div>
      </div>
    </div>

    <%# Render footer for sent and recieved requests %>
    <% if @pending_requests.include?(user) %>
      <div class="card-footer text-body-secondary">
        <%= distance_of_time_in_words(current_user.sent_friend_requests.find_by(sent_to_id: user.id).created_at, Time.now) %> ago
      </div>
    <% elsif @friend_requests.include?(user) %>
      <div class="card-footer text-body-secondary">
        <%= distance_of_time_in_words(current_user.recieved_friend_requests.find_by(sent_by_id:user.id).created_at, Time.now) %> ago
      </div>          
    <% end %>

  </div>
</div>
