<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="card">
    <h4 class="card-header">Forgot your password?</h4>

    <div class="card-body">
      <div class="field mb-3">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <br>

      <div class="actions d-grid col-4">
        <%= f.submit "Send me reset password instructions", class: "btn btn-secondary" %>
      </div>
    </div>
  </div>

  <br><br>

  <div class="actions d-grid gap-2 col-4" role="group" aria-label="Vertical button group">
    <%= render "devise/shared/links" %>
  </div>
<% end %>
