<% if current_user %>
  <nav class="navbar sticky-top navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid ms-3">
      <%= link_to 'odinbook', posts_path, class: 'navbar-brand' %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Timeline', posts_path, class: 'nav-link' + (' active' if current_page?(posts_path)).to_s %>
          </li>
          
          <li class="nav-item">
            <%= link_to 'Connections', users_path, class: 'nav-link' + (' active' if current_page?(users_path)).to_s %>
          </li>
        </ul>
        
        <ul class="navbar-nav">
          <!---
          <%# icon that displays modal (not currently being used): %>
          <%# if current_user.notifications.where(viewed?: false).empty? %>
            <li class="nav-item d-flex align-items-center" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#noticeModal">
              <i class="bi bi-bell nav-link"></i>
            </li>
          --->
          <% if current_user.notifications.where(viewed?: false).empty? %>
            <li class="nav-item d-flex align-items-center" style="cursor: pointer">
              <%= link_to notifications_user_path(current_user) do %>
                <i class="bi bi-bell nav-link"></i>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item d-flex align-items-center">
              <%= link_to notifications_user_path(current_user), class: "btn btn-info btn-sm" do %>
                <i class="bi bi-bell"></i> <%= current_user.notifications.where(viewed?: false).count %>
              <% end %>
            </li>
          <% end %>
          
          <li class="nav-item dropdown me-3" style="max-width: 3rem; max-height: 3rem;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user.image? %>
                <%= image_tag current_user.image.url, class: "img-fluid" %>
              <% else %>
                <%# placeholder image %>
                <%= gravatar_for(current_user, {classlist: 'gravatar img-fluid rounded-start'}) %>
              <% end %>
            </a>
            
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to 'My Profile', user_path(current_user), class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'dropdown-item' %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%# allows pop up to appear which shows all notifications the user has %>
  <%#= render 'shared/notifications', notifications: current_user.notifications %>
<% end %>
